# Define individuals or teams that are responsible for code in a repository.
# More details are here: https://help.github.com/articles/about-codeowners/

/.github/                                         @Stonygan @bernd-mack @mydefichain
/.github/workflows/oss-governance-bot.yml         @Stonygan @bernd-mack @mydefichain
/.github/governance.yml                           @Stonygan @bernd-mack @mydefichain

tsconfig.json                                     @Stonygan @bernd-mack @mydefichain
tsconfig.production.json                          @Stonygan @bernd-mack @mydefichain

package.json                                      @Stonygan @bernd-mack @mydefichain
package-lock.json                                 @Stonygan @bernd-mack @mydefichain

*.sh                                              @Stonygan @bernd-mack @mydefichain
*.cmd                                             @Stonygan @bernd-mack @mydefichain
*.ps1                                             @Stonygan @bernd-mack @mydefichain

LICENSE                                           @Stonygan @bernd-mack @mydefichain
